
blockquote {
    box-sizing: border-box;
    width: 100%;
    font-size: 120%;
    position: relative;
    padding: 0 80px;
    color: rgba(0,0,0, 0.60);
}

blockquote:before {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    content: "«";
    font-size: 120px;
    color: #ddd;
}

blockquote:after {
    position: absolute;
    bottom: 20px;
    right: 0;
    display: block;
    content: "»";
    font-size: 120px;
    color: #ddd;
}

.wrapper img {
	display: block;
	margin: 0 auto;
}
